@font-face {
	font-family: "a_CooperBlack";
	src:	url("../public/fonts/a-cooperblack.svg") format("svg"),
		url("../public/fonts/a-cooperblack.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}